[Unit]
Description=Dev Console
After=network-online.target tailscaled.service
Wants=network-online.target

[Service]
Type=simple
User=iovon
Group=iovon
WorkingDirectory=/var/www/dev-console/console
EnvironmentFile=/etc/iovon-dev-console.env
ExecStart=/var/www/dev-console/bin/run-dev-console
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
